:root{
    --main-color: #1a77ff;
    --delete-icon-bg-color: #ff1a1a;
    --delete-icon-bg-color-blur: #ff8d8d;
}
.task.isCard{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.task.isRow{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task:hover{
    background-color:     var(--main-color);
}

.task:hover .task-title,
.task:hover .task-desciption,
.task:hover .task-date{
    color: white;
}

.task-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(134, 134, 134);
}

.isCard .task-desciption{
    font-size: 1rem;
    margin: 0;
    color: rgb(145, 145, 145);
    height: 100px;
}

.isRow .task-desciption{
    font-size: 1rem;
    margin: 0;
    color: rgb(145, 145, 145);
    height: 100px;
    display: flex;
    align-items: center;
}

.task-date{
    display: flex;
    align-items: center;
    margin: 10px 0;
}


.isCard .task-others-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 0.8px dashed rgb(189, 189, 189);
} 

.task-others-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.delete-task:hover{
    border-radius: 50%;
    background-color: var(--delete-icon-bg-color);
}

.delete-task:active{
    border-radius: 50%;
    background-color: var(--delete-icon-bg-color-blur);
}

.complete-tag, .uncomplete-tag{
    display: inline-block;
    border-radius: 24px;
    padding: 5px 10px;
    margin-right: 20px;
    width: 100px;
    text-align: center;
}

.complete-tag{
    background-color: greenyellow;
}

.uncomplete-tag{
    background-color: red;
    color: white;
}